# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# Poetry
poetry.lock
test.json
# Alembic
alembic/versions/__pycache__/

# Logs
*.log
logs
volta.sql

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Database
*.sqlite3

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/
